<div class="container">
  <%= link_to 'Clear Cart', cart_clear_path %>
  <br><br>
  <div class="row">
    <div class="col-xs-6>
      <% @cart.each do | id, quantity | %>
      <% product = Product.find_by_id(id) %>

      <ul class="list-inline">
        <li><%= link_to product.name, product %></li>
        <li><%= product.description %></li>
        <li><%= product.price %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
