<h1>Editing Cart</h1>
<% @cart.products.each do |product| %>
<p>product.name</p>
<p>product.description</p>
<p>product.price</p>

<% end %>
<%= link_to 'Show', @cart %> |
<%= link_to 'Back', carts_path %>
