<div class="container">
  <% @products.each_slice(4) do |product| %>
   <div class="row">
     <% product.each do |item| %>
       <div class="col-xs-3">
          <ul clas="list-inline">
            <li><%= item.name %></li>
            <li><%= item.description %></li>
            <li><%= item.price %></li>
            <li><%= render 'payola/transactions/checkout', sellable: item %></li>
          </ul>
        </div>
     <% end %>
   </div>
  <%end %>
</div>
